<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>

  <div class="artist-search-form">
    <form>
      <input type="text" name="search-artist" value="">
      <button class="artist-search-btn" type="submit">Search for an Artist</button>
    </form>
  </div>
</body>

</html>